:root {
  --surface: #f9f9f9;
  --border-color: #e5e5e5;
  --border: 1px solid var(--border-color);
  --max-width: 700px;
  --btn-bg: rgb(0, 91, 182);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--surface);
  padding: 1rem;
  border-bottom: var(--border);
}

header h1 {
  font-size: 1.25rem;
  text-align: center;
}

main {
  width: auto;
  height: auto;
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--surface);
  border: var(--border);
}

.login-form-wrapper,
.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form .form-group input,
form select {
  background-color: white;
  border: var(--border);
  border-radius: 0px;
  padding: 0.5rem;
  font-size: 1rem;
}

form button {
  background-color: var(--btn-bg);
  color: white;
  font-weight: bold;
  width: fit-content;
  border: none;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  transition: 0.1s;
  cursor: pointer;
}

form button:hover {
  opacity: 0.9;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.result-item a {
  font-size: 14px;
  color: var(--btn-bg);
  text-decoration: none;
  width: fit-content;
}

.result-item a:hover {
  text-decoration: underline;
}
